.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.login-image {
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 112px;
  }

.rounded-button {
  --border-radius: 100px;
}