<ion-content>
  <ion-img
  src="assets/login-image.png" class="login-image" 
  alt="Imagen para login de usuario"
  ></ion-img>
  <div class="form-container">
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" placeholder="Escriba su usuario"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="Escriba su constraseña"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" placeholder="Escriba su correo"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button (click)="registrar()" type="submit" expand="block" style="--background: #5467E2;" class="rounded-button">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
